@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import '../colores.scss';
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  &:hover, &:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  .btn-info{
      background: lighten($color-spam-purple,10%);
      border: lighten($color-spam-purple,10%);
      &:hover{
        background: darken($color-spam-purple,10%);
        border:darken($color-spam-purple,10%);
      }
      &:active{
        background: darken($color-spam-purple,10%)!important;
        border:darken($color-spam-purple,10%)!important;
      }
  }
  .sticky-top {
    z-index: 0 !important;
  }
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  width: 250px;
  position: fixed;
  top: 94px;
  left: -250px;
  height: 100vh;
  z-index: 999;
  background: $color-spam;
  color: #fff;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  &.active {
    left: 0;
  }
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: lighten($color-secundario,10%);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  &:hover {
    background: #fff;
    color: lighten($color-secundario,10%);
  }
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  &.active {
    display: block;
    opacity: 1;
  }
}

#sidebar {
  .sidebar-header {
    padding: 20px;
    background: darken($color-spam,20%);
  }
  ul {
    &.components {
      padding: 20px 0;
      li {
        a {
          padding: 10px;
          font-size: 1.1em;
          display: block;
          &:hover {
            color: white;
            background:darken($color-spam,10%);
          }
        }
    }
    p {
      color: #fff;
      padding: 10px;
    }

      &.active > a {
        color: #fff;
        background: lighten($color-secundario,20%);
      }
    }
    &.collapse {
        li {
            a {
              padding: 10px;
              font-size: 1.1em;
              display: block;
              &:hover {
                color: white;
                background:lighten($color-secundario,30%);
              }
            }
        }
    }
  }
}

a {
  &[aria-expanded="true"] {
    color: #fff;
    background: lighten($color-secundario,10%);
  }
  &[data-toggle="collapse"] {
    position: relative;
  }
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul {
  ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: lighten($color-spam,15%);
  }
  &.CTAs {
    padding: 20px;
    a {
      text-align: center;
      font-size: 0.9em !important;
      display: block;
      border-radius: 5px;
      margin-bottom: 5px;
    }
  }
}

a {
  &.download {
    background: #fff;
    color: lighten($color-secundario,10%);
  }
  &.article {
    background: $color-secundario !important;
    color: #fff !important;
    &:hover {
      background: $color-secundario !important;
      color: #fff !important;
    }
  }
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}
