@font-face {
    font-family: "Permanent";
    src: url("../../fuentes/Permanent_Marker/PermanentMarker-Regular.ttf");
  }
  @font-face {
    font-family: "Roboto";
    src: url("../../fuentes/Roboto/Roboto-Medium.ttf");
  }

  @font-face {
      font-family: "Josefin";
      src: url("../../fuentes/Josefin_Sans/JosefinSans-Bold.ttf");
    }

  body {
    background: white;
    overflow-x: hidden;
  }

  #img1{
   background-image: url("../../img/cat_.png");
   min-height: 400px;


  }

  #img2{
      background-image: url("../../img/cat_.png");
      min-height: 400px;

  }

  #imghuellas{
    background-image: url("../../img/paw.png");
    min-height: 500px;


}



  .imgParallax{

  background-attachment: fixed;
  background-position: center;
  background-repeat:repeat;
  background-size:cover;

  }

  .imgParallax2{

    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;




    }

#imgPrincipal{
  top: -20px;

}

  h1 {
    font-family: Josefin;
    color: #454049;
  }

  p {
    font-family: Roboto;
    color: #454049;
  }

  div#primero {
    margin: 0;
    padding: 0;
  }

  #segundo {
    height: 100%;
    margin:0px;
    margin-top:0px;
    margin-bottom:0px;
  }
  #segundo h1 {

    width: 100%;
    padding: 15px;
    padding-left: 100px;
    margin-left: -50px;
    text-align: center;
  }

  #segundo .imgQuienes{
      width: 100%;
      height: 450px !important;
  }

  #segundo .texto-container {
    z-index: 60;
    color: black;
    text-align: justify;
  }
  #segundo .texto-container a {
    color: #ff6600;
    border: #ff6600 1px solid;
    margin:20px;
  }
  #segundo .texto-container a:hover {
    color: white;
    background-color: #ff6600;
  }
  #segundo .texto {
    width: 100%;
    font-size:1.5rem;
    text-align: center;
    font-family: Josefin;
  }

  #segundo .round-button {
    position: relative;
    background-color: #99cd32;
    border-radius: 30px;
    width: 300px;
    bottom: 100px;
    left: 35%;
    color: white;
  }
  #segundo .round-button:hover {
    background-color: #5c7b1e;
  }

  #tercero {
    height: 100%;
  }
  #tercero h1 {
      width: 100%;
      padding: 15px;
      padding-left: 100px;
      margin-left: -50px;
      text-align: center;
  }
  #tercero .card {

    transform: scale(0.85);
    border: 3px solid #99cd32;
    border-radius: 10px;
    overflow: hidden;
  }
  #tercero .card img {
    border-bottom: 5px solid #99cd32;
  }
  #tercero .card:hover {
    transform: scale(1);
    transition: transform 0.2s ease-in;
  }
  #tercero .card h2 {
    position: relative;
    padding: 0;
    margin: 0;
    top: -35px;
    width: 80%;
    padding: 10px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #99cd32;
    color: white;
  }

  #cuarto {
    height: 100%;
  }
  #cuarto h1 {
      width: 100%;
      padding: 15px;
      padding-left: 100px;
      margin-left: -50px;
      text-align: center;
  }
  #cuarto button {
    margin: 5px;
    border: solid 5px #99cd32;
    border-radius: 50px;
  }
  #cuarto button img {
    width: 90px;
    height: 120px;
  }
  #cuarto button:hover {
    background-color: #99cd32;
    transition: all 0.5s;
  }
  #cuarto .info-necessidades {
    border: solid 3px black;
  }

  .container-fluid {
    margin: 0;
    padding: 0;
  }

  .rounded-circle {
    border-radius: 30%!important;
}

  /*# sourceMappingURL=landing.css.map */
