.challenge{
    img{
        display: none;
    }

    .progress{
        height: 50px;
        border-radius: 25px;
    }
    &.completado{
        position: relative;

        img{
            display: block;
            position: absolute;
            height: 110px;
            z-index: 100;
            opacity: 1;
            right: 88px;
            transform: rotate(12deg);
            border-radius: 50% !important;
        }
        & > div{
            opacity: 0.2;
        }
    }
}
