@import '../colores.scss';
$divHeight:900px;
body{
    background-color: $color-spam;
}
div#primero{
    height: $divHeight;
    background: $color-spam;
}
#segundo{
    height: $divHeight;
    background: $color-spam-blue;
}
#tercero{
    height: $divHeight;
    background: $color-spam-purple;
}
#cuarto{
    height: $divHeight;
    background: $color-spam-yellow;
}


