@import '../colores.scss';
.navegacion{
    position: fixed;
    right: 30px;
    top:30%;
    width:30px;
    z-index: 999;
    background-color: rgba($color: #000000, $alpha: 0);
    a{
        color: black;
    }
}
.btn-outline-info{
    border:none;
    color:$color-secundario;
}
.btn-outline-info:hover{
    border:none;
    color:whitesmoke;
    background-color: $color-secundario;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darken($color-spam,10%) !important;
    z-index: 2;
    cursor: pointer;
    transition: all 0.3s;
    nav{
        position: relative;
        top:20%;
        a{
            color: whitesmoke;
            font-size: 50px;
        }
        a:hover{
            background-color: darken($color-spam, $amount: 30%);
            transition: all 1s;
        }
    }
  }

